llm_endpoint_name: "{{ llm_endpoint_name }}"

tools:
  local_python:
    enabled: true
  databricks_mcp:
    enabled: false

storage:
  agent_events_table: "{{ agent_events_table }}"
  local_data_dir: ./.local_state
